
/* class */
.name{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position:absolute;
    top: 64.5%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.number{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position:absolute;
    top: 68.5%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.idno{
    font-family: 'Inter', sans-serif;
    position:absolute;
    top: 75%;
    text-align: center;
}
.no4{
    width: 225px;
    height: 280px;
    position: absolute;
    object-fit: cover;

    vertical-align: middle;

}
@media print {

    .no-print{
            display : none !important;
             }
           }
           

           
